body {
  margin: 0;
  padding: 0;
}

.wendell {
padding-right: 150px;
}
 .item {
   padding-right: 30px;
 }

.maincontainer {
  background-color: #c7f0db;
  text-align: center;
  justify-content: center;
}

.iamwendell {
  font-family: 'Permanent Marker', cursive;
  font-size: 70px;
  padding-top: 100px;
    color: #464159;
}

.iamwendell1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
  color: #464159;
}

.myface {
  height:200px;
  margin-top: 100px;
}

.secondcontainer {
    text-align: center;
    justify-content: center;
}

.head1 {
  font-family: 'Roboto Mono', monospace;
  color:#8bbabb;
  font-size:55px;
  margin-top: 200px;
}

.head2 {
  font-family: 'Roboto Mono', monospace;
   color:#8bbabb;
   font-size:40px;
}

.paragraph {
  font-family: 'Roboto Mono', monospace;
  color:#464159;
  font-size:20px;
}

hr {
  border: 0;
  background-color: #fff;
  border-top: 20px dashed #8c8c8c;
}

.gif {
  width: 80px;
}

.gif1 {
  width: 80px;
}

.wendell2 {
  width: 200px;
}

.wendell3 {
  width: 200px;
}

.messageMe {
  width: 15%;
  height: auto;
  background-color: #8bbabb;
  padding: 15px;
  border-radius:8px;
}

.messageMe a {
  display: inline;
  color: #464159;
  padding: 25px;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}
